.container {
    justify-content: end;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    list-style-image: none;
    list-style-type: none;

}

.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}