.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #A04829;
    padding: 1em;
    margin: 0;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}