.h1 {
    color: #D3D3D3	;
    display: flex;
}



.searchBar h1, input{
    display: flex;
    margin-left: auto;
}

.searchBar input{
    border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;

  cursor: pointer;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.cardList{
    display: flex;
    flex-wrap: wrap;
}