.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.lista {
  display: 'center';
  align-items: 'right';
  justify-content: 'center';
  color: white;
}

.titulo {
  color: white;
  margin-bottom: 20px;
}
